<h4 class="sidebar-summary">{{localize "PF2E.BackgroundItem.Summary"}}</h4>

<ol class="item-tags">
    {{#each traits}}
        {{#if this.selected}}
            <li class="tag">{{this.label}}</li>
        {{/if}}
    {{/each}}
    <li class="tag">{{#with (lookup rarities data.rarity.value)}}{{this.label}}{{/with}}</li>
</ol>
