<div class="tab feats feats-pane" data-group="primary" data-tab="feats">
    <ol class="actions-list inventory-list directory-list">
        {{#each actor.featSlots as |section sid|}}
            <li class="item action-header">
                <h3 class="feat-name pf-heading pf-actions">{{localize section.label}}</h3>
                {{#if ../owner}}
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize "PF2E.CreateFeatTitle"}}" data-type="feat" data-feat-type="{{sid}}"><i class="fas fa-plus"></i></a>
                    <a class="item-control feat-browse" title="{{localize "PF2E.OpenFeatBrowserTitle"}}" data-type="feat"><i class="fas fa-search"></i></a>
                </div>
                {{/if}}
            </li>

            {{#each section.feats as |featSlot fid|}}
                {{#if featSlot.feat}}
                    <li class="item feat-item" data-item-id="{{featSlot.feat._id}}" data-slot-id="{{featSlot.id}}" data-feat-type="{{sid}}">
                        <div class="item-name rollable">
                            <div class="feat-slot-title">
                                {{featSlot.level}}
                            </div>
                            <img class="item-image" src="{{featSlot.feat.img}}" alt="{{featSlot.feat.name}}">
                            <h4>
                                {{featSlot.feat.name}}
                            </h4>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{else}}
                    <li class="item feat-item" data-slot-id="{{featSlot.id}}" data-feat-type="{{sid}}">
                        <div class="item-name">
                            <div class="feat-slot-title">
                                {{featSlot.level}}
                            </div>
                            <div class="item-placeholder">
                                {{localize "PF2E.EmptySlot"}}
                            </div>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control feat-browse">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                        {{/if}}
                    </li>
                {{/if}}
            {{/each}}

            {{#each section.bonusFeats as |feat fid|}}
                <li class="item feat-item" data-item-id="{{feat._id}}">
                    <div class="item-name rollable">
                        <div class="feat-slot-title">
                        </div>
                        <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                        <h4>
                            {{feat.name}}
                        </h4>
                    </div>
                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
            {{/each}}
        {{/each}}
    </ol>
</div>
