@mixin gold-border {
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #9f725b,
        0 0 0 2px var(--tertiary),
        0 0 0 3px #956d58;
}

@mixin inset-gold-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        inset 0 0 0 1px #9f725b,
        inset 0 0 0 2px var(--tertiary),
        inset 0 0 0 3px #956d58,
        0 0 20px rgba(black, 0.8);
}

@mixin frame-icon {
    border: 1px solid var(--body);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px var(--tertiary),
        0 0 0 2px #9f725b,
        inset 0 0 4px rgba(black, 0.5);
}

@mixin frame-glow {
    border: 1px solid var(--body);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px var(--tertiary),
        0 0 0 2px #9f725b,
        0 0 0 12px var(--tertiary)
        inset 0 0 4px rgba(black, 0.5);
}

@mixin frame-silver {
    border: 1px solid rgba(0,0,0,0.5);
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #C0C0C0,
        0 0 0 2px #808080,
}

@mixin brown-border {
    border: none;
    /* prettier-ignore */
    box-shadow:
        0 0 0 1px #918c88,
        0 0 0 2px #e1d8cf,
        0 0 0 3px #a98f39,
        inset 0 0 8px rgba(0,0,0,0.5),
        0 0 8px black;
}

@mixin corner-boxes {
    border-style: solid;
    border-image-outset: 0;
    border-width: 9px;
    border-image: url('../assets/sheet/corner-box.png') 9 repeat;
    box-shadow: 0 0 20px rgba(black, 0.8);
}

@mixin frame-elegant {
    border-style: double;
    border-image-slice: 11;
    border-image-width: 14px;
    border-image-repeat: repeat;
    border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
