div.pf2e.item.sheet {
  .tab.effects {
    table {
      tr {
        td {
          height: 30px;
          text-align: center;

          &.icon {
            padding: 0;
            width: 32px;
            img {
              height: 24px;
              width: 24px;
              text-align: left;
              vertical-align: middle;
            }
          }

          &.controls {
            input[type="checkbox"] {
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
              display: inline-block;
              height: 8px;
              width: 8px;
              padding: 0;
              margin: 0 3px 0 0;
              box-shadow: 0 0 0.5px 1.8px #303030;
              border-radius: 5%;

              &:checked::after {
                position: absolute;
                content: "✓";
                font-size: 20px;
                top: -10px;
                left: -2px;
              }

              &:hover {
                cursor: pointer;
                filter: drop-shadow(0 0 4px red);
              }
            }
          }
        }
      }
    }
  }
}